{% extends "base.html" %}
{% block content %}
<div class="column column-50">
    <h2>Get Tweets</h2>
    <label for="hashtag">Hashtag</label>
    <input id="hashtag" name="hashtag" type="text"/>
    <p>
        Num of tweets:
        <input id="tweetsSlider" type="range" step="100" min="1000" max="15000" value="5000"/>
        <span id="tweets">5000</span>
    </p>
    <button id="start-bg-job" onclick="getTweets()">Get tweets</button>
</div>
<div class="column column-50">
    <h2>Status</h2>
    <div id="progress"></div>
</div>
{% endblock %}
