{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="column column-50">
        <h2>Get Tweets</h2>
        <div>
            <label for="hashtag">Hashtag</label>
            <input id="hashtag" name="hashtag" type="text"/>
            <span class="error">A search term is required</span>
        </div>
        <div>
            <label for="tweetsSlider">Nums of Tweets:</label>
            <input id="tweetsSlider" name="tweetsSlider" type="range" step="100" min="1000" max="15000" value="5000"/>
            <span id="tweets">5000</span>
        </div>
        <button id="start-bg-job">Get tweets</button>
        <button id="trainModel" disabled>Train Model</button>
    </div>

    <div class="column column-50">
        <h2>Generate Text</h2>
        <label for="textInput">seed text:</label>
        <input id="textInput" type="text" value="The meaning of life is"/>
        <div class="row">
            <div class="column column-50">
                <label for="lenSlider">Length:</label>
                <input id="lenSlider" name="lenSlider" type="range" min="10" max="500" value="100"/>
                <span id="length">100</span>
            </div>
            <div class="column column-50">
                <label for="tempSlider">Temperature:</label>
                <input id="tempSlider" name="tempSlider" type="range" min="0" max="1" step="0.01"/>
                <span id="temperature">0.5</span>
            </div>
        </div>
        <button disabled id="generate">generate</button>
        <button id="tweet" disabled>Tweet</button>
        <p id="status"></p>
        <p id="result"></p>
    </div>
</div>

<div class="row">
    <div class="column">
        <h2>Status</h2>
        <div class="status">
            <input type="checkbox" id="tweetsLoaded" disabled>
            <label class="label-inline" for="tweetsLoaded">Tweets Loaded</label>
            <input type="checkbox" id="modelTrained" disabled>
            <label class="label-inline" for="modelTrained">Model Trained</label>
            <input type="checkbox" id="modelLoaded" disabled>
            <label class="label-inline" for="modelLoaded">Model Loaded</label>
            <button id="cleanStatus" class="float-right">Clean Status</button>
        </div>
        <div id="progress"></div>
    </div>
</div>
{% endblock %}
